body {
    margin: 0;
    font-family: Montserrat;
    color: #303030;
}
.main-nav-list a {
    color: #9A9A9A;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}
.hero h1 {
    font-size: 45px;
    line-height: 55px;
}
.quote p {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}
.quote footer {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}
.fact h2 {
    color: #A4C58C;
    font-weight: normal;
    font-size: 28px;
    line-height: 55px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
    text-underline-position: under;
}
.fact h3 {
    font-size: 20px;
    line-height: 35px;
}
.fact p {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.symptoms h2 {
    font-size: 40px;
    line-height: 50px;
}
.symptoms-item {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
.button {
    background-color: #7EB252;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
}
.gallery h2 {
    font-size: 40px;
    line-height: 50px;
}
.footer-link {
    color: #9A9A9A;
    font-size: 12px;
    line-height: 16px;
}
.main-footer h3 {
    font-size: 12px;
    line-height: 15px;
}
.footer-menu-item a {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
}
.main-footer {
    background-color: #F6F9F3;
}





.page-header {
    width: 1100px;
    margin: 0 auto;
    padding: 35px 90px;
    margin-bottom: 15px;
}


.main-nav {
    display: flex;
    align-items: center;
}
.logo {
    width: 197px;
    margin: 0;
    margin-right: 60px;
  
}
.search {
    margin-left: auto;
}
.main-nav-list {
    width: 760px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.main-nav-item {
    margin-right: 35px;
}
.main-content {
    width: 1100px;
    margin: 0 auto;
    padding: 0 90px;
}
.hero {
    margin-bottom: 110px;
}
.hero h1 {
    margin: 0;
    margin-left: 30px;
    margin-bottom: 35px;
}
.quote {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 110px;
    padding-top: 45px;
    padding-bottom: 45px; 
}
.quote blockquote {
    margin: 0;
}
.fact {
    width: 1020px;
    margin: 0 auto;
}
.fact-1 {
    margin-bottom: 60px;
    flex-direction: row-reverse;
}
.fact-2 {
    margin-bottom: 110px;
}
.fact {
    display: flex;
    justify-content: space-between;
}
.fact-article-content {
    width: 560px;
}
.fact-article-img {
    width: 420px;
}
.fact h2 {
    margin: 0;
    margin-bottom: 30px;
}
.symptoms {
    margin-bottom: 110px;
    display: flex;
    justify-content: space-between;
}
.symptoms-column {
    width: 500px;
}
.symptoms-img {
    width: 500px;
}
.symptoms h2 {
    margin-top: 65px;
    margin-bottom: 90px;
}
.gallery {
    width: 930px;
    margin: 0 auto;
}
.gallery h2 {
    margin: 0;
    margin-bottom: 90px;
}
.gallery-wrapper {
    display: flex;
    justify-content: space-between;
}
.img-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.active-img {
    width: 740px;
}
.img-list {
    width: 170px;
}
.preview-item {
    margin-bottom: 20px;
}
.preview-item:last-child {
    margin-bottom: 0;
}
.footer-wrapper {
    width: 1100px;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
}
.main-footer {
    margin-top: 110px;
    padding-top: 90px;
    padding-bottom: 90px;
} 
.footer-wrapper {
    display: flex;
    justify-content: space-between;
}
.footer-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}
.logo-column {
    width: 210px;
}
.nav-column {
    width: 705px;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
}
.footer-nav-item {
    width: 175px;
}





